/* app css stylesheet */

body {
  padding-top: 20px;
  background: url("../img/tabletop.jpg") left top repeat;
}

.card {
  height: 180px;
  width:  124px;
}

.Trick {
    position: relative;
    margin:auto;
}

.Hand {
    position: absolute;
    bottom: -120px;
    left: 30px;
}

.card_in_hand {
    position: relative; 
}

.rotate0 {
    /* -webkit-transform: rotate(90deg); */
    /* -moz-transform: rotate(90deg); */
    /* -o-transform: rotate(90deg); */
    /* -ms-transform: rotate(90deg); */
    /* transform: rotate(90deg); */
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
