<div style="font-weight: bold; color: white; width: 40px"> Suit: </div> <input ng-model="suit">
<div style="font-weight: bold; color: white; width: 40px"> Value:</div> <input ng-model="val">
<div style="font-weight: bold; color: white; width: 40px"> Sort:</div>
<select ng-model="hand_order" style="color: blue; font-size: 20px">
  <option value="suit">&#x2663-&#x2666-&#x2665-&#x2660</option>
  <option value="-suit">&#x2660-&#x2665-&#x2666-&#x2663</option>
  <option value="val">Highest First</option>
  <option value="-val">Lowest First</option>
</select>
